<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-text>
        <p>
          Notre application offre une gestion complète des boss de votre licence préférée, Dark Souls. Avec notre système CRUD intuitif, vous pouvez :
        </p>
      </ion-text>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="eye" slot="start"></ion-icon>
          <ion-label>Visualiser: Parcourez la liste complète des boss existants pour en apprendre davantage sur eux.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Créer: Exprimez votre créativité en créant de nouveaux boss uniques. Personnalisez leurs noms, descriptions, attributs et ajoutez des images personnalisées.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="hammer" slot="start"></ion-icon>
          <ion-label>Modifier: Mettez à jour les informations des boss existants selon vos besoins. Modifiez leurs caractéristiques ou corrigez des détails.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Supprimer: Si nécessaire, retirez les boss de votre liste. Cette fonctionnalité vous permet de maintenir une base de données propre et organisée.</ion-label>
        </ion-item>
      </ion-list>
      <ion-text>
        <p>
          Explorez notre application et saisissez l'opportunité de créer des expériences de jeu uniques en concevant vos propres boss Dark Souls.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Présentation de la licence Dark Souls
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          Dark Souls est une franchise de jeu vidéo développée par FromSoftware. Elle possède une communauté de fans passionnés pour plusieurs raisons :
        </p>
      </ion-text>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="flame" slot="start"></ion-icon>
          <ion-label>Difficulté et Défi : Dark Souls est célèbre pour son niveau de difficulté élevé, ce qui crée une expérience de jeu gratifiante pour ceux qui réussissent à surmonter ses défis.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label>Univers Immersif : L'univers sombre et mystérieux de Dark Souls, rempli de lore profond et d'histoires captivantes, attire les joueurs qui cherchent une expérience immersive.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="game-controller" slot="start"></ion-icon>
          <ion-label>Gameplay Unique : Le gameplay de Dark Souls est distinctif, avec son combat tactique, ses mécaniques de progression non linéaire et son exploration complexe.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>Communauté Engagée : La communauté des fans de Dark Souls est active, créative et solidaire, ce qui crée un sentiment d'appartenance et de partage d'expérience entre les joueurs.</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label>Influence Culturelle : Dark Souls a eu un impact significatif sur l'industrie du jeu vidéo, influençant de nombreux autres jeux et inspirant de nouvelles approches dans la conception de jeu.</ion-label>
        </ion-item>
      </ion-list>
      <ion-text>
        <p>
          En utilisant les éléments de Dark Souls dans cette application, nous reconnaissons et respectons la propriété intellectuelle de FromSoftware. Nous sommes des fans dévoués de cette licence et nous aspirons à offrir une expérience qui reflète la qualité et la profondeur des jeux Dark Souls.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

</ion-content>
