<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau Boss</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" [(ngModel)]="boss.picture"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input type="text" [(ngModel)]="boss.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Jeu d'origine</ion-label>
      <ion-input type="text" [(ngModel)]="boss.jeu"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">HP</ion-label>
      <ion-input type="text" [(ngModel)]="boss.hp"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ame</ion-label>
      <ion-input type="text" [(ngModel)]="boss.ame"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="add()">Envoyer</ion-button>
  </div>
</ion-content>
